body {
  text-align: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h1{
  margin-top: 0;
}
.top-container {
  background-color: #d2f6c5;
  padding-top: 105px;
  position: relative;
}
.bottomcloud{
  position:absolute;
  left: 560px;

}
.topcloud{
  position: absolute;
  right: 560px;
  top: 45px;
}
.marioyoshi{
  width: 40%;
}
.yoshidefo{
  width: 40%;
}
.skills{
  margin: auto 80px auto 80px
}
